body {
  font-family: 'Quicksand', sans-serif;
  background: #E6002D;
}

.card img {
  border-radius: 12px;
  max-height: 300px;
  object-fit: scale-down;
  margin-bottom: 1rem;
}

.toko{
  height: 3rem;
  width: 3rem;
}

.mt-3{
  display: flex;
  flex-direction: row;
  
}
.icon-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.icon-button:hover{
  color: #EE4D2D;
}
